<?xml version="1.0"?>

<launch>

  <!-- set use_map_from_map_server parameter, "false" for normal use, "true" for testing purposes -->
  <param name="use_map_from_map_server" type="bool" value ="false" />

  <!-- Launch the grid map visualizer -->
  <node pkg="grid_map_visualization" type="grid_map_visualization" name="grid_map_visualization" output="screen">
    <rosparam command="load" file="$(find path_planner)/config/gridmap_visualization_rviz.yaml" />
  </node>


  <!-- Launch RViz with the custom configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find path_planner)/config/gridmap_visualization.rviz" />


  <include file="$(find bert_launch)/launch/hector_mapping.launch" />

  <node pkg="bert_tf" type="bert_tf_node" name="bert_tf"/>

</launch>
